
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Livre</title>
</head>
<body>
    <table>
        <tr>
            <th>Titres des livres de l'auteur</th>

        </tr>
        @foreach (devoir_Op.Models.Livre livre in ViewData["Livres_Recherche"] as List<devoir_Op.Models.Livre>)
        {
            <tr>
                <td>@livre.Titre</td>

            </tr>
        }
    </table>
</body>
</html>
